.v-sheet.v-card {
    border-radius: 1em;
}
.theme--dark.v-sheet {
    border-radius: 1em;
    background-color: transparent;
}
.console-wrapper.v-card.v-card--flat.v-sheet.theme--dark {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.vue-recycle-scroller.console-scroller.ready.direction-vertical {
    padding-left: 10px;
    padding-top: 10px;
}
.v-card.collapsable-card:not(.collapsed) .v-card__title.collapsable-card-title {
    box-shadow: none !important;
    background: rgba(23 23 23 / 50%) !important;
}
.theme--dark .v-card .v-card__title.collapsable-card-title{
    border: 0 !important;
}
.filesystem-wrapper.v-card.v-card--flat.v-sheet.theme--dark {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: transparent;
}
.theme--dark.v-card {
    background-color: rgba(23 23 23 / 30%);
}
.theme--dark.v-data-table {
    background-color: transparent !important;
}
.theme--dark.v-expansion-panels .v-expansion-panel {
    background-color: transparent;
}
.v-progress-linear__determinate {
    background-color: transparent !important;
}
.theme--dark.v-toolbar.v-sheet {
    background-color: rgba(23 23 23 / 30%)!important;
    backdrop-filter: blur(40px);
}
.theme--dark.v-tabs-items {
    background-color: transparent !important;
}
.v-text-field--filled {
    border-radius: 0.5em;
}
.v-text-field>.v-input__control>.v-input__slot:before {
    border: 0;
}
button.px-0.flex-grow-1.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.btncolor {
    border-radius: 0.5em !important;
    background-color: rgba(23 23 23 / 50%) !important;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
    background-color: rgba(23 23 23 / 30%) !important;
}
.v-btn:before {
    background-color: rgb(255 255 255 / 90%);
}
.v-application .btncolor{
    background-color: rgba(23 23 23 / 50%) !important;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
    background: transparent;
    box-shadow: none!important;
}
.theme--dark.v-btn.v-btn--has-bg {
    background-color: #b01f1f2e;
    box-shadow: none;
}
.theme--dark.v-data-table {
    background-color: rgba(23 23 23 / 10%) !important;
}
.theme--dark.v-navigation-drawer {
    background-color: rgba(23 23 23 / 30%) !important;
}
.console-wrapper.v-card.v-card--flat.v-sheet.theme--dark {
    background-color: transparent !important;
}
.v-data-table.rounded-0.v-data-table--dense.v-data-table--fixed-header.theme--dark {
    background-color: transparent !important;
}
.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: rgba(23 23 23 / 40%);
}
.v-list.v-sheet.theme--dark.v-list--dense {
    border-radius: 1em;
    background-color: rgba(34 36 41 / 90%);
}
.v-menu__content {
    border-radius: 1em;
    backdrop-filter: blur(40px);
    background-color: rgb(57 57 57 / 80%);
}
.v-list.grow.pt-0.v-sheet.theme--dark.v-list--dense {
    height: fit-content;
    background-color: rgba(23 23 23 / 50%) !important;
}
header.v-sheet.theme--dark.v-toolbar.v-toolbar--dense {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.theme--dark.v-data-table.v-data-table--fixed-header thead th {
    background: rgba(34 36 41 / 50%)!important;
}
.v-card__text.py-4 {
    background-color: rgb(57 57 57 / 80%);
    backdrop-filter: blur(40px);
}
.v-card__actions.pt-4 {
    background-color: rgb(57 57 57 / 80%);
    backdrop-filter: blur(40px);
}
.theme--dark .toolbar-logo[data-v-b360135f] {
    background: rgba(34 36 41 / 50%)!important;
}
.v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    background: transparent;
}
.v-card__text {
    backdrop-filter: blur(40px);
}
.v-application .btncolor {
    background-color: rgba(23 23 23 / 30%) !important;
    border-radius: 0.5em;
}
.v-card.collapsed>.card-heading[data-v-c1579253] {
    background-color: rgba(23 23 23 / 50%) !important;
    border-radius: 1em;
}
.theme--dark.v-chip:not(.v-chip--active) {
    background: rgba(23 23 23 / 30%);
}
.v-btn-toggle>.v-btn.v-btn--active {
    opacity: 0.7;
}