.v-card__title.collapsable-card-title.card-heading.draggable {
    border-radius: 1em;
}
button.flex-grow-1.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.primary.grey--text.text--darken-3 {
    max-width: 120px;
}
.row.align-start.justify-space-between {
    justify-content: center!important;
    display: inline-flex!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    margin-top: 1px!important;
}
.controls-wrapper.col {
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
}
button.value.v-btn.v-btn--disabled.v-btn--has-bg.theme--dark.v-size--default.grey--text.text--darken-3 {
    flex-grow: 2!important;
}
button.value.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.primary.grey--text.text--darken-3 {
    flex-grow: 2!important;
}
.v-application .text-right {
    text-align: center!important;
}
.row.mr-n1.no-gutters.justify-space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.elevation-2.v-item-group.theme--dark.v-btn-toggle.v-btn-toggle--dense {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.v-application--wrap ::-webkit-scrollbar-thumb, .v-dialog__content ::-webkit-scrollbar-thumb {
    background: #ffffff78!important;
}
.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled)>.v-input__control>.v-input__slot:hover fieldset {
    color: var(--v-primary-base);
}
button.px-1.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--small.btncolor:last-child {
    min-width: 45px!important;
    margin-right: 3px;
}
button.px-1.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--small.btncolor:first-child {
    min-width: 45px!important;
}
.layout.justify-space-between.align-center {
    display: flex;
}
:root {
    --v-secondary-base: #a5a5a5!important;
}
.v-ripple__container {
    border-radius: 0.5em;
}
.v-sheet.v-card {
    border-radius: 1em;
}
.theme--dark.v-sheet {
    border-radius: 1em;
    background-color: transparent;
}
.controls-wrapper[data-v-dd684e0d] {
    max-width: 1000px !important;
    min-width: 350px!important;
    display: inline!important;
}
.console-wrapper.v-card.v-card--flat.v-sheet.theme--dark {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.v-card.collapsable-card:not(.collapsed) .v-card__title.collapsable-card-title {
    box-shadow: none !important;
    background: rgba(23 23 23 / 30%) !important;
}
.theme--dark .v-card .v-card__title.collapsable-card-title{
    border: 0 !important;
}
.filesystem-wrapper.v-card.v-card--flat.v-sheet.theme--dark {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: transparent;
}
.theme--dark.v-card {
    background-color: rgba(23 23 23 / 30%);
}
.theme--dark.v-data-table {
    background-color: transparent !important;
}
.theme--dark.v-expansion-panels .v-expansion-panel {
    background-color: transparent;
}
.v-progress-linear__determinate {
    background-color: transparent !important;
}
.theme--dark.v-toolbar.v-sheet {
    background-color: rgb(45 48 56 / 40%) !important;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
}
.theme--dark.v-tabs-items {
    background-color: transparent !important;
}
.v-text-field--filled {
    border-radius: 0.5em;
}
.v-text-field>.v-input__control>.v-input__slot:before {
    border: 0;
}
button.px-0.flex-grow-1.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.btncolor {
    border-radius: 0.5em !important;
    background-color: rgba(23 23 23 / 50%) !important;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
    background-color: rgba(23 23 23 / 50%) !important;
}
.v-btn:before {
    background-color: rgb(255 255 255 / 90%);
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
    background: transparent;
    box-shadow: none!important;
    margin-top: 1px;
}
.theme--dark.v-btn.v-btn--has-bg {
    background-color: #bbb1b12e;
    box-shadow: none;
}
.theme--dark.v-data-table {
    background-color: rgba(23 23 23 / 10%) !important;
}
.theme--dark.v-navigation-drawer {
    background-color: rgba(23 23 23 / 30%) !important;
}
.console-wrapper.v-card.v-card--flat.v-sheet.theme--dark {
    background-color: transparent !important;
}
.v-data-table.rounded-0.v-data-table--dense.v-data-table--fixed-header.theme--dark {
    background-color: transparent !important;
}
.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: rgba(23 23 23 / 40%);
}
.v-list.v-sheet.theme--dark.v-list--dense {
    border-radius: 0;
    background-color: rgb(66 73 78 / 90%);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
}
.v-menu__content {
    border-radius: 1em;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: rgb(57 57 57 / 80%);
}
.v-list.grow.pt-0.v-sheet.theme--dark.v-list--dense {
    background-color: rgba(23 23 23 / 50%) !important;
}
header.v-sheet.theme--dark.v-toolbar.v-toolbar--dense {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow:none;
    border-radius: 0;
}
.theme--dark.v-data-table.v-data-table--fixed-header thead th {
    background: rgba(79, 80, 82, 0.5)!important;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}
.v-card__text.py-4 {
    background-color: rgb(57 57 57 / 80%);
}
.v-card__actions.pt-4 {
    background-color: rgb(57 57 57 / 80%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}
.v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    background: transparent;
}
.v-application .btncolor {
    background-color: rgba(23 23 23 / 30%) !important;
    border-radius: 0.5em;
}
.v-card.collapsed>.card-heading[data-v-c1579253] {
    background-color: rgba(23 23 23 / 50%) !important;
}
.theme--dark.v-chip:not(.v-chip--active) {
    background: rgba(23 23 23 / 30%);
    margin-bottom: 5px;
    margin-top: 5px;
}
.v-btn-toggle>.v-btn.v-btn--active {
    opacity: 0.7;
}
.app-btn-group[data-v-28c8e213]:not(.app-btn-group--vertical)>.v-btn:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.app-btn-group[data-v-28c8e213]:not(.app-btn-group--vertical)>.v-btn:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    margin-left: 3px;
    margin-right: 3px;
}
.v-progress-linear__background.primary {
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
}
.v-progress-linear__determinate.primary {
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
}
button.me-2.mb-2.v-btn.v-btn--block.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.primary.grey--text.text--darken-3 {
    border-radius: 0.5em;
}
.v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
    border-radius: 0.5em;
}
.v-application .elevation-2 {
    box-shadow: none!important;
}
.v-dialog.v-dialog--active {
    border-radius: 1em;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}
.theme--dark .spool-icon {
    stroke: #0000003b;
}
a.v-list-item--active.v-list-item.v-list-item--link.theme--dark.secondary--text {
    border-right-style: solid;
    border-color: var(--v-primary-base);
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.v-list.v-sheet.theme--dark.v-list--dense:last-child {
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}
.v-list-item--link:before {
    border-radius: 0.3em;
}
.app-btn-group[data-v-28c8e213]:not(.app-btn-group--vertical):not(.app-btn-group--divided)>.v-btn:not(:last-child) {
    margin-right: 3px;
    margin-left: 3px;
}
.app-btn-group[data-v-28c8e213]:not(.app-btn-group--vertical)>.v-btn {
    border-radius: 0.3em;
}
.v-btn.value[data-v-516a6680] {
    min-width: 36px;
    max-width: 66px;

}
.v-btn {
    border-radius: 0.5em;
}
.app-btn-group:not(.app-btn-group--vertical).app-btn-group--divided[data-v-28c8e213]>.v-btn:not(:last-child) {
    border-right: 0;
}
.vue-recycle-scroller.console-scroller.ready.direction-vertical {
    margin-left: 10px;
    margin-top: 10px;
}
.chart[data-v-ea84c26e] {
    width: 97%;
}
.v-snack__wrapper.theme--dark {
    background-color: #1f1a1ae6 !important;
}
.setting__link[data-v-2a7147ab]:before {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.v-card.collapsable-card .v-card__title.collapsable-card-title .v-tabs .v-tabs-bar__content>.v-tab:first-child:before {
    border-top-left-radius: 1em!important;
    border-radius: 0.5em;
}
.v-tab:before {
    border-radius: 0.5em;
}
.theme--dark.v-tabs .v-tab--active:hover:before, .theme--dark.v-tabs .v-tab--active:before {
    border-radius: 0.5em;
}
.preview-options[data-v-6c3ecf71], .preview-name[data-v-6c3ecf71] {
    background: rgb(0 0 0 / 30%);
}
.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none!important;
}
.v-card.collapsable-card .v-card__title.collapsable-card-title {
    min-height: 50px;
}
.theme--dark .toolbar-logo[data-v-b360135f] {
    background: transparent!important;
    border: 0;
}
